# Configuración del Backend - SENA Huellero

# Servidor
PORT=3000

# Base de Datos MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority

# Seguridad JWT
JWT_SECRET=tu_clave_secreta_jwt_aqui
JWT_EXPIRES_IN=8h

# Notificaciones por Correo (Gmail SMTP)
GMAIL_USER=tu_correo@gmail.com
GMAIL_PASS=tu_contraseña_de_aplicacion_gmail
